<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="shortcut icon" href="{% static 'main/logo 3.png' %}" type="image/x-icon">
    <title>Home | Sachnm Mngr</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/style.css' %}">
</head>
<body>

<div class="navbar">
    <div class="logo">
        <a href="#"><div class="logo_img"></div></a>
        
    </div>
    <div class="burger" onclick="toggleMenu()">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>
    <ul class="nav-list">
        <li><a href="{% url 'change_password' %}">Change Password</a></li>
        <li><a href="{% url 'create_new_table' %}">Create New Sheet</a></li>
        <li><a href="{% url 'support_page' %}">Support</a></li>
        <li><a href="{% url 'logout' %}?next=/">Logout</a></li>
    </ul>
</div>
{% for message in messages  %}            
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        <strong>Message : </strong> {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
        </button>
    </div>
{% endfor %}
<div class="attendance-container">
    <h1 class="attendance">Attendance Sheet</h1>
    <table class="attendance-table">
        <thead>
            <tr>
                <th>Subject Name</th>
                <th>Total Lecture</th>
                <th>Lecture Attended</th>
                <th class="percentage">Percentage</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for subject in subjects %}
                <tr>
                    <td>{{ subject.name }}</td>
                    <td contenteditable="false">{{ subject.classes_done }}</td>
                    <td contenteditable="false">{{ subject.classes_attended }}</td>
                    <td class="percentage">{{ subject.calculate_percentage }}%</td>
                    <td><button class="log-attendance" data-subject-id="{{ subject.id }}">Log Attendance</button></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    const logAttendanceButtons = document.querySelectorAll('.log-attendance');
    logAttendanceButtons.forEach(button => {
        button.addEventListener('click', function () {
            const subjectId = this.getAttribute('data-subject-id');
            logAttendance(subjectId);
        });
    });

    function logAttendance(subjectId) {
        // Redirect to log attendance page with the subject ID
        window.location.href = `/log_attendance/${subjectId}/`;
    }

    function toggleMenu() {
        const navList = document.querySelector('.nav-list');
        navList.classList.toggle('show');
        document.querySelector('.burger').classList.toggle('active');
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</body>
</html>
